*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 10%);
}


.main {
    display: flex;
    padding: 20px;
    height: 97vh;
    box-sizing: border-box;
}
.menu {
    width: 300px;
    padding-right: 34px;
    overflow-y: auto;
}
.menu a {
    color: #333;
    display: block;
    text-decoration: none;
    margin-top: 8px;
}
.menu a svg {
    float: left;
    margin-right: 5px;
}
.menu a.dir svg {
    margin-left: 0.5px;
}
.menu .btn {
    display: flex;
}
.menu .btn a {
    flex: 1;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(0 0 0 / 30%);
    background: #f6f6f6;
    white-space: nowrap;
}


.vditor {
    width: calc(100% - 300px);
    border-radius: 0;
    border: none;
    border-left: 1px solid var(--border-color);
}
.vditor .vditor-content .vditor-ir pre {
    background-color: initial;
}
.vditor-toolbar,
.vditor-outline__title {
    border: none;
}
.vditor-toc {
    background: #f6f6f6;
    padding: 10px 20px;
    max-width: max-content;
}

@media (max-width: 600px) {
    .main {
        display: block;
        height: auto;
    }
    .menu {
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .vditor {
        width: 100%;
        height: auto;
        border-left: none;
        border-top: 1px solid var(--border-color);
        padding: 10px!important;
        padding-top: 20px;
    }
}
